@{
    ViewData["Title"] = "Errore";
}

<div class="text-center">
    <h1 class="display-1 text-danger">Errore</h1>
    <h2 class="display-4">Oops! Qualcosa è andato storto.</h2>
    <p class="lead">
        Ci scusiamo per l'inconveniente. Stiamo lavorando per risolvere il problema.
    </p>
    <hr />
    <p>
        Nel frattempo, puoi tornare alla pagina principale.
    </p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg">Torna al Solver</a>
</div>