@{
    ViewData["Title"] = "Pagina Non Trovata";
}

<div class="text-center">
    <h1 class="display-1 text-danger">404</h1>
    <h2 class="display-4">Pagina Non Trovata</h2>
    <p class="lead">
        Spiacenti, la risorsa che stai cercando non esiste o è stata spostata.
    </p>
    <hr />
    <p>
        Puoi tornare alla pagina principale e continuare a risolvere Sudoku!
    </p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg">Torna al Solver</a>
</div>