html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.sudoku-container {
    border: 3px solid black;
    display: inline-block;
}

.sudoku-row {
    display: flex;
}

.sudoku-cell {
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

    .sudoku-cell:nth-child(3), .sudoku-cell:nth-child(6) {
        border-right: 3px solid black;
    }

.sudoku-row:nth-child(3), .sudoku-row:nth-child(6) {
    border-bottom: 3px solid black;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    margin-right: 10px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.alert {
    display: inline-block;
}

.original-number {
    font-weight: 900;
    color: #000;
}

.solved-number {
    font-weight: normal;
    color: #000;
}

.sudoku-cell:focus {
    background-color: #e8f0fe;
    border: 2px solid #0d6efd;
    outline: none;
}

